<link href="/Content/assets/css/Comment.css" rel="stylesheet" />
@model IEnumerable<Blog_Sitesi.Models.Yorum>

<div class="row">
    <div class="col-sm-12 ">
        <div class="page-header">
            <h3 class="reviews">Yorumlar</h3>
        </div>
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Yorumlar</h4></a></li>
                <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Yorum Ekle</h4></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="~/Pictures/Male.jpg" alt="profile">
                            </a>
                            <div class="media-body">
                                <div class="well well-lg">
                                    @foreach (var item in Model)
                                    {
                                        <h4 class="media-heading text-uppercase reviews">@item.Ad @item.Soyad</h4>
                                        <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd">@item.YorumTarihi.ToShortDateString()</li>

                                        </ul>
                                        <p class="media-comment">
                                            @item.Mesaj
                                        </p>
                                    }
                                    @*<a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span>Cevap</a>
                                        <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> Yorumlar</a>*@
                                </div>
                            </div>
                            @*<div class="collapse" id="replyOne">
                                    <ul class="media-list">
                                        <li class="media media-replied">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                            </a>
                                            <div class="media-body">
                                                <div class="well well-lg">
                                                    <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Kemal</h4>
                                                    <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="dd">22</li>
                                                        <li class="mm">09</li>
                                                        <li class="aaaa">2014</li>
                                                    </ul>
                                                    <p class="media-comment">
                                                        İyi iş çıkarmışssın
                                                    </p>
                                                    <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Cevap</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>*@
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="add-comment">
                    <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">İsim</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="isim" id="name" placeholder="İsminizi giriniz...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surname" class="col-sm-2 control-label">Soyisim</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="soyisim" id="surname" placeholder="Soyisim giriniz...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Mesaj</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="uploadMedia" class="col-sm-2 control-label">Dosya Yükle</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">http://</div>
                                        <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success btn-circle text-uppercase" id="submitComment"><span class="glyphicon glyphicon-send"></span> Gönder</button>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-success" hidden id="#MesajBasarili">
                        <p>Ekleme işlmi başarısız olmuştur.</p>
                    </div>
                    <div class="alert alert-danger" hidden id="#MesajBasarisiz">
                        <p>Ekleme işlemi başarısız olmuştur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#submitComment').click(function () {

            var Yorum = JSON.stringify({
                'Name': $('#name').val(),
                'Surname': $('#surname').val(),
                'Comment': $('#addcomment').val()

            });

            $.ajax({

                url: "/Blog/AddCommentMethod",
                type: "POST",
                contentType: "aplication/json",
                success: function () { $('#MesajBasarili').show(); },
                error: function () { $('#MesajBasarisiz').show(); },
                dataType: "JSON",
                data: Yorum
            });
        });

    });

</script>











