
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->

@*<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>*@
<link href="~/Content/assets/css/KategorilerSidebar.css" rel="stylesheet" />

<div class="list-group-hover sidebar-widget-1" >
     <ul class="list-unstyled">
                    <li><a href="" class="list-group-item  bg-active"><i class="fa fa-angle-double-right"></i> Dashboard <span class="badge">12</span> </a></li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> My Profile</a> </li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> My Listings</a> </li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> My Enquiry</a> </li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> Add your Business</a> </li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> Login</a> </li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> Signup</a> </li>
                    <li><a href="" class="list-group-item"><i class="fa fa-angle-double-right"></i> Account Settings</a> </li>
                    <li><a href="change-password.html" class="list-group-item"><i class="fa fa-angle-double-right"></i> Change Password</a> </li>
                    <li><a href="listings-page.html" class="list-group-item"><i class="fa fa-angle-double-right"></i> Listings Page</a> </li>
                    <li><a href="product-page.html" class="list-group-item"><i class="fa fa-angle-double-right"></i> Product Page</a> </li>
                </ul>
</div>