<div class="navbar navbar-default">
    <div class="nav nav-justified navbar-nav">

        <form class="navbar-form navbar-search" role="search">
            <div class="input-group">

                <input type="text" class="form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-search btn-info">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="label-icon">Search</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>                                    