<div class="navbar navbar-default">
    <div class="nav nav-justified navbar-nav">

        <form class="navbar-form navbar-search" role="search">
            <div class="input-group col-sm-12">

                <input type="text" class="form-control " placeholder="Kategori ara..">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-info ">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="label-icon">Ara</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>                                    